<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Game Rooms Available</div>
  <div class="panel-body">
    <p>Join a room and play <now!></now!></p>
  </div>

  <!-- Table -->
  <div class="room-table-pane">

  </div>
</div>

<% url = user_signed_in? ? new_game_thread_path : new_user_session_path %>
<%= link_to 'Create New Game', url, {class: "btn btn-primary"} %>
