// Place all the styles related to the GameThreads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main header {

    h1, h2 {
    font-family: "";
  }

  h1 {
    color: #009ACE;
    font-size: 36px;
  }

  h2 {
    color: #5d5d5d;
    font-size: 28px;
  }
}