// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.script {
  border: 2px solid #5d5d5d;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;

  p {
    font-size: 18px;
  }

  p.time-stamp {
    font-size: 14px;
  }
}

.add-script {
  margin-top: 30px;
}

