// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* Scripts
-------------------------------------------------- */

div.scripts-container {
  background-color: #F2F2F2;
  border-radius: 6px;
  padding: 0 5px;
}

div.script-container {
  background-color: #FFFFFF;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  margin: 0;
  margin-bottom: -1px;
  padding: 10px 15px;
}

div.avatar-container {
  width: 48px;
  height: 48px;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 8px;
}

img.avatar-thumbnail {
  width: 48px;
  height: 48px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}

div.script {

  margin-left: -15px;
  padding: 0 0 0 15px;

  span.fullname {
    font-size: 14px;
  }

  span.username,
  span.time-stamp {
    font-size: 13px;
    color: #a5a5a5;
  }

  span.edit {
    font-size: 13px;
    margin-left: 5px;
  }

  p.content {
    font-size: 14px;
  }

}

div.number-of-votes {
  margin: 0 auto;
  text-align: center;
}

.add-script {
  margin-top: 30px;
}

